sudo: required
dist: trusty

language: cpp

os:
  - linux
  # use just one of the environments in coverity_scan branch in order not to consume too much API
  # - osx

compiler:
  - gcc
  # - clang

cache:
  pip: true
  directories:
    - $HOME/.pip-cache/

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - george-edison55-cmake-3.x
    packages:
      - gcc-4.8
      - g++-4.8
      - clang
      - cmake
      - git
      # Optional dependencies
      - libtbb-dev
      # coveralls dependencies
      - gem
      - lcov
      # caffe-importer dependencies
      - libprotobuf-dev
      - protobuf-compiler

  coverity_scan:

    project:
      name: "tiny-dnn/tiny-dnn"
      description: "Header only, dependency-free deep learning framework in C++11"

    notification_email: example@example.com

    build_command_prepend: "cmake -DUSE_TBB=ON
            -DUSE_SSE=ON
            -DUSE_AVX=ON
            -DUSE_DOUBLE=OFF
            -DBUILD_TESTS=ON
            -DBUILD_EXAMPLES=ON ."

    build_command: "make -j8"

    branch_pattern: master

branches:
  only:
    - master
    - coverity_scan
    - feat/tensor_integration
env:
  global:
    - USE_TBB=ON
    - BUILD_TESTS=ON
    - BUILD_EXAMPLES=ON
    - COVERALLS=ON
    # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
    #   via the "travis encrypt" command using the project repo's public key
    - secure: "glPl20nNNuLZdUokmCnXaoS0JrbvfYH/39w4fhPdb0qFha7fiqsUpgqX6zFndVfLXOEJiYD41SjdZPz3exXHuLhvO/hBVz8IAlM8Or+5lDc/76Cj6bZJ6UFVjlOzft++7Y8t3aksWiL4ultNg/xWvx9rfWLDPT2vMOUwIM3CX51ZsN0ag8gd+4N3hkLlk2wPn5JnEvDP5Ti5XV4apOMayxKyFf80cR4Z1tM/nhbnClsDq3bIEKXlUmoM4xnHR+aBwg0XrVwMAuTV2xqxQ7YPYH9FBAcRZE6OkSGP+ad9YQ1o2IiRSRCWimxFGrmZ/zuXktrsEyESDixlHM9OpXy5GShrV6iWmHlAzoQRUE6OMMv6822tA2TsSXWcWOqL5bPySwyQ5CUDztU/5GOgz4Fa0ilP6Ew55Fq8pW1BFoaccMhdqo2NyuFz9ln7e/8Q096PXS5dFCOM32RYHlH8wYMMEbpwAiKoYMiIa0U7OaU2F4UxcF2ED7Z36LPgxj78RN7mM3FrHYo25wWfI5dy0K2/KqJVzbcnvGih5OXTjuFV4uW48YGE42+/6e9JiM05DPYVlGeK8whpkoFFieb4uexvXe0Kx+AW4uhVakkJmvCJkKkwELPTtFYwVTI3/dPu/3i2N2DRdfI7q+vh4ynzvWiiULE8j3y7I7qaRMuso/FFDGg="

  matrix:
    - USE_SSE=OFF USE_AVX=OFF USE_DOUBLE=OFF
    - USE_SSE=ON  USE_AVX=ON USE_DOUBLE=OFF
    - USE_SSE=ON  USE_AVX=ON USE_DOUBLE=ON

matrix:
  exclude: # On OSX g++ is a symlink to clang++ by default
    - os: osx
      compiler: gcc

before_install:
  - if [ "$TRAVIS_OS_NAME" == "linux" ] && [ "$CXX" == "g++" ]; then
       export CC="gcc-4.8";
       export CXX="g++-4.8";
    fi
  - gcc --version
  - g++ --version
  - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-

install:
  - bash -x .travis/install.sh
  - gem install coveralls-lcov

before_script:
  - if [ "$TRAVIS_OS_NAME" == "linux" ] && [ "$CXX" == "g++-4.8" ]; then
      lcov --directory . --zerocounters;
      cmake -DUSE_TBB=$USE_TBB
            -DUSE_SSE=$USE_SSE
            -DUSE_AVX=$USE_AVX
            -DUSE_DOUBLE=$USE_DOUBLE
            -DBUILD_TESTS=$BUILD_TESTS
            -DCOVERALLS=$COVERALLS
            -DBUILD_EXAMPLES=$BUILD_EXAMPLES .;
    fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ] && [ "$CXX" == "clang++" ]; then
      cmake -DUSE_SSE=$USE_SSE
            -DUSE_AVX=$USE_AVX
            -DBUILD_TESTS=$BUILD_TESTS
            -DBUILD_EXAMPLES=$BUILD_EXAMPLES .;
    fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      cmake -DUSE_TBB=$USE_TBB
            -DUSE_AVX=OFF
            -DBUILD_TESTS=$BUILD_TESTS .;
    fi

script:
  - make -j2
  - test/tiny_dnn_test
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      make clang-format-check;
    fi

after_success:
  - if [ "$TRAVIS_OS_NAME" == "linux" ] && [ "$CXX" == "g++-4.8" ]; then
      lcov --directory . --capture --output-file coverage.info;
      lcov --remove coverage.info 'test/*' 'third_party/*' 'cereal/*' '/usr/*' 'tiny_dnn/io/caffe/caffe.pb.*' --output-file coverage.info;
      lcov --list coverage.info;
      coveralls-lcov --source-encoding=ISO-8859-1 coverage.info;
    fi
